/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Layout geral */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Container */
.container {
    display: flex;
    height: 100vh;
}

/* SIDEBAR */
.sidebar {
    width: 220px;
    background: #1e3a8a;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 20px;
}

/* LINKS MENU */
.sidebar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    display: block;
}

.sidebar a:hover {
    background: #172554;
}

/* RODAPÉ SIDEBAR */
.sidebar-footer {
    margin-top: auto;
    font-size: 14px;
}

.sidebar-footer a {
    color: #facc15;
    display: block;
    margin-top: 5px;
}

/* CONTEÚDO DIREITA */
.main {
    flex: 1;
    background: #f1f5f9;
    padding: 20px;
}