/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Login */
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #1e1e2f;
}

/* Centralização login */
.login-container {
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    width: 320px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-container h2 {
    margin-bottom: 20px;
}

.login-container input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

/* ERRO */
.erro {
    background: #ffdddd;
    color: #d8000c;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #d8000c;
    font-weight: bold;
}

/* TOPO */
.topo {
    background: #333;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

/* MENU */
.menu {
    background: #555;
    padding: 10px;
}

.menu a {
    color: white;
    margin-right: 10px;
    text-decoration: none;
}

/* CONTEÚDO */
.conteudo {
    padding: 20px;
    background: #f4f4f4;
    min-height: calc(100vh - 100px);
}